<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062143757773-g3iidc097rlfr9lhlramo1ip93ok4upn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062143757773-g3iidc097rlfr9lhlramo1ip93ok4upn</string>
	<key>API_KEY</key>
	<string>AIzaSyCYwSEzZPbHC_3HsA4FC_5xLpFWMd44gUU</string>
	<key>GCM_SENDER_ID</key>
	<string>1062143757773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseAuthorization</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-auth-552c2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-auth-552c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062143757773:ios:93ac90fac0c9abed400884</string>
</dict>
</plist>